#1 | Editors division |__________________________________________

.idea                       # jetbrains
.vs                         # visual studio
.vscode                     # visual studio code

#2 | NAWP division |_____________________________________________

configs/.env                # keep your dotenv file secret
logs/*.txt                  # no logs
cache/*.txt                 # no sessions cache file
cache/packet_adapter/*.txt  # no packet adapter cache files
public/vendor               # no vendor dir
public/*.hot-update.json    # not webpack watch cache files
public/js/*.js              # not webpack-generated javascript
public/css/*.css            # no css files

#3 | Packages managements division |_____________________________

node_modules                # no npm packages
vendor                      # no composer packages
bower_components            # no bower packages
composer.lock               # no composer lock file
package-lock.json           # no npm lock file
yarn.lock                   # no yarn lock file
yarn-error.log              # no yarn logs

#4 | Packages division | _______________________________________

.php_cs.cache               # no php cs fix cache
